body, html {
  background-color: #151515;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  font-family: SpaceGrotesk;
}

@font-face {
  font-family: SpaceGrotesk;
  src: url(/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}